In [1]:
import pandas as pd

f3 = pd.read_csv('like_post.csv')

f3 = f3.drop(columns = ['comment_id'])
f3

,user_name,user_id,post,response,friend_id,friend_name
0,Lisa Mellen Ben-Shoshan,503442187183,25160801076_10153437340941077,LIKE,10153806298558657,Lori Hanlan Thompson
1,Lisa Mellen Ben-Shoshan,503442187183,25160801076_10153437340941077,LIKE,1348828765132148,Stacy Marie Cuff
2,Lisa Mellen Ben-Shoshan,503442187183,25160801076_10153437340941077,LIKE,10206887698927192,Donna Landue Biddle
3,Lisa Mellen Ben-Shoshan,503442187183,25160801076_10153437340941077,LIKE,591694857679271,Pamela Gimbel
4,Lisa Mellen Ben-Shoshan,503442187183,25160801076_10153437340941077,LIKE,10208572078571055,Carla Jenkins
...,...,...,...,...,...,...
27924,Jonathan Gusdorff,10214492628524566,25160801076_10152281245771077,LIKE,10213395192820600,Suzanne Glick Berkson
27925,Jonathan Gusdorff,10214492628524566,25160801076_10152084234601077,LIKE,10214492628524566,Jonathan Gusdorff
27926,Jonathan Gusdorff,10214492628524566,25160801076_10152084234601077,LIKE,10155659231899289,Nicole Danielle Watts
27927,Jonathan Gusdorff,10214492628524566,25160801076_10152084234601077,LIKE,10210190322177129,Bernadette Hennegan McDermott
27928,Jonathan Gusdorff,10214492628524566,25160801076_10152084234601077,LIKE,10155408703921391,Marlene Baer Burk

In [4]:
f4 = f3.groupby(['user_id','friend_id','response']).count().drop(columns = ['user_name','friend_name'])
f4

f4.reset_index().to_csv('groupby2.csv',index=False)

                                              post
user_id           friend_id         response
503442187183      591694857679271   LIKE         1
                  1348828765132148  LIKE         1
                  10153806298558657 LIKE         1
                  10154524792739170 LIKE         1
                  10201976274524300 LIKE         1
...                                            ...
10214492628524566 10209914980215816 LIKE         1
                  10210190322177129 LIKE         1
                  10213395192820600 LIKE         1
                  10214492628524566 LIKE         1
                  10214754957606790 LIKE         1

[23149 rows x 1 columns]

In [3]:
f4 = pd.read_csv('groupby2.csv')

l4 = len(f4)
#print(l4)

W = []

for i in range(l4):
    if f4.response[i] == 'LIKE':
        W.append(f4.post[i] * 0.25)
    elif f4.response[i] == 'LOVE':
        W.append(f4.post[i] * 0.75)
    elif f4.response[i] == 'WOW':
        W.append(f4.post[i] * 0.5)
    elif f4.response[i] == 'SAD':
        W.append(f4.post[i] * (-0.5))
    elif f4.response[i] == 'ANGRY':
        W.append(f4.post[i] * (-1))  
    elif f4.response[i] == 'HAHA':
        W.append(f4.post[i] * 0.25)
    elif f4.response[i] == 'THANKFUL':
        W.append(f4.post[i] * 0.25)

#for i in range(l4):
 #   print(W[i])
    
f4['weights'] = W 
f4.to_csv('user_weight_likes.csv', index = False)